body {
  background-color: #003b00;
  /* background-color: black; */
  /* color: #008f11; */

  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 62.5%;
}

.container {
  margin: 20px;
}

h1 {
  font-size: 2rem;
  color: #00ff41;
}

input,
select,
option {
  background-color: #003b00;
  /* color: #008f11; */
  color: #00ff41;
  border: none;
  border-bottom: 1px solid #008f11;
}

.field {
  margin: 40px 0;
  font-size: 1.5rem;
  color: #008f11;
}

label {
  margin-right: 10px;
}

[name="inputImagesFolder"] {
  width: 100%;
}

[type="button"],
[type="submit"] {
  padding: 8px;
  border: 1px solid #008f11;
  /* border-radius: 4px; */
}
