body {
  background-color: white;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 62.5%;
}

.container {
  margin: 20px;
}

h1 {
  font-size: 2rem;
}

.field {
  margin: 40px 0;
  font-size: 1.5rem;
}

label {
  margin-right: 10px;
}

[name="inputImagesFolder"] {
  width: 100%;
}
